.appBar {
  background-color: #19181a !important;
}

.customButton {
  background-color: #36d286 !important;
  text-transform: none;
}

.customButton:hover {
  background-color: #2bb673 !important;
}

.MuiAppBar-root {
  background-color: #19181a !important;
}